<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product Id="*" UpgradeCode="12345678-1234-1234-1234-111111111111" 
            Name="Trello Client" Version="0.0.1" Manufacturer="alanboy" Language="1033">
      <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="TrelloClient">
               <Component Id="ApplicationFiles" Guid="12345678-1234-1234-1234-222222222222">
                  <File Id="File1" Source="..\dist\trello-latest.jar"/>
                  <File Id="File2" Source="..\dist\latestversion.json"/>
                  <File Id="File3" Source="..\dist\output.log"/>
               </Component>
            </Directory>
         </Directory>

         <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuSubfolder" Name="TrelloClient">
                   <Component Id="ApplicationShortcuts" Guid="12345678-1234-1234-1234-333333333333">
                      <Shortcut Id="Shortcut1" Name="Trello Client" Description="Start the trello client" Target="[INSTALLDIR]trello-latest.jar" WorkingDirectory="INSTALLDIR"/>
                      <RegistryValue Root="HKCU" Key="Software\alanboy\Trello Client" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
                      <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
                   </Component>
                </Directory>
         </Directory>
      </Directory>

      <Feature Id="DefaultFeature" Level="1">
         <ComponentRef Id="ApplicationFiles"/>
         <ComponentRef Id="ApplicationShortcuts"/>
      </Feature>
   </Product>
</Wix>
